<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello | Profile</title>

  <!-- Materialize stylesheet -->
  <link rel="stylesheet" href="../../assets/css/materialize.min.css">
  <link rel="stylesheet" href="../../assets/css/profile.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body class="light-blue darken-1">
  <div class="wrapper">
    <div class="container">
      <div class="right-align">
        <h1 class="white-text header">profile.</h1>
      </div>

      <div class="right profile-form z-depth-2 grey lighten-4">
        <form>

          <div class="input-field">
            <input type="text" id="firstname" name="firstname" value="Allendale" readonly
            class="">
            <label for="firstname">Firstname</label>
          </div>

          <div class="input-field">
            <input type="text" id="lastname" name="lastname" value="Nato" readonly
            class="">
            <label for="lastname">Lastname</label>
          </div>

          <div class="input-field">
            <input type="text" id="email" name="email" value="natoallendale@gmail.com" readonly
             class="">
            <label for="email">Email</label>
          </div>

          <div class="input-field">
            <textarea id="address" name="address" readonly
            class="materialize-textarea">Imus, Cavite</textarea>
            <label for="address">Address</label>
          </div>
        </form>

        <div class="input-field right-align">
          <button id="editButton"
          class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">mode_edit</i>
        </button>
        </div>

        <div class="input-field right-align">
          <button type="" id="saveButton"
          class="btn green waves-effect waves-light">Save Changes</button>
        </div>

      </div>
    </div>
  </div>
</body>

<!-- Jquery & Materialize Scripts -->
<script type="text/javascript" src="../../assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../../assets/js/materialize.min.js"></script>
</html>
